<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>It Works</title>
    </head>
    <body style="text-align: center; padding-top: 200px;">
        <h3>Nginx works!!!</h3>
        <h5>index.html created!!!!</h5>
        <p>This is a Jinja template.</p>
        <button onclick="buttonClicked();">button</button>
        <script type="text/javascript">
            let buttonClicked = (e) => {
                alert('clicked!!! by ES6');
            };
        </script>
        <p>{{ ansible_managed }}</p>
    </body>
</html>
